@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html {
    height:100%;
    margin:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 180%;
    color: #F2F2F2;
    text-align: center;
}

/*Index*/
.row{color:#FFFFFF; background-color:transparent;}
.container1{padding-top: 50px; padding-bottom: 10px; padding-left: 30px; padding-right: 0px;}
.container2{padding-top:4.5em; padding-bottom: 70px; text-align: Left;}
.pad {display:block;}
.pad::before, .pad::after {display:table; content:"";}
.pad, .pad::after {clear:both;}
.button{display:inline-block; padding:1px 16px 9px; text-transform:uppercase; border:1px solid;}
.button {color:#FFFFFF; background-color:transparent; border-color:#F2F2F2; text-decoration: none;}
.button:hover {color:inherit; background-color:#F2F2F2; border-color:inherit;}
.centered{display:block; margin:10 auto; text-align: center;}
.center{}
.square{width: 320px; height: 280px;}
.squared{display:inline-block; float:left; margin:0 0 0 3.06748466257669%; list-style:none; width:30%; text-align: justify;}
.title_square {font-family: Ubuntu; color:#F2F2F2 padding-bottom: 30px;}
.one{position: absolute; left: 15%; top: 25%; text-align: center;}
.right{position: absolute; left 100%; top: 25%; text-align: center;}
.emb{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.colunas2 {float: left; width: 50%; padding-left: 5px;}
.contactos {padding-top: 20px;}
/*Fim Index*/

.parallax1{
    background: url(../img/drone_composite.png);
    min-height: 100%;
    position: relative;
    opacity: .90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.setinha{
    width: 100%;
    margin: 0 auto;
    text-align: center;    
}
.setinha::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-right: 4px solid #696969;
    border-bottom: 4px solid #696969;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 2s arrow infinite ease;
    animation: 2s arrow infinite ease;
}

@-webkit-keyframes arrow{
    0%, 100% {
        top: 65px;;
    }
    50% {
        top: 80px;
    }
}

@keyframes arrow {
    0%, 100% {
        top: 70%;
    }
    50% {
        top: 80%;
    }
}

.parallaxind{
    background-color: #303030;
    min-height: 100%;
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.parallax2{
    background: url(../img/drone_body.png);
    min-height: 80%;
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax3{
    background: url(../img/teste.png);
    min-height: 60%;
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: auto;
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.parallax5{
    background: url(../img/teste.png);
    min-height: 60%;
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: auto;
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax4 {
    background-color: #f5f5f5; 
    position: relative;
    box-shadow:inset 0px 12px 20px -20px black,  0px 12px 20px -20px black ; 
    color: #303030;
    padding-top: 20px;
    padding-bottom: 30px;
}
.fundo2{
    overflow: auto;
    position: relative;
    padding: 20px 50px;
    color: #303030;
    background-color: #DADADA;
}

.lastparallax{
    background: url(../img/last.jpg);
    min-height: 60%;
    position: relative;
    opacity: .75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heading{
    position: absolute;
    color: #fff;
    top:38%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 120%;   
    text-shadow: 3px 1px 3px #303030;
}

.heading2{
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
    font-size: 250%;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #303030;
    text-transform: uppercase;
}

.colunas{
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
    
}

section{
    overflow: auto
}
.fundo{
    overflow: auto;
    padding: 20px 50px;
    color: #DADADA;
    background-color: #303030;
    box-shadow:inset 0px 12px 20px -20px black,  0px 12px 20px -20px black ; 

}

.fundo_extra{
    overflow: auto;
    color: #303030;
    background-color: #DADADA;
    box-shadow:inset 0px 12px 20px -20px black,  0px 12px 20px -20px black ; 
}

.dark{
    overflow: auto;
    padding: 20px 50px;
    background-color: #323232;
    color: #f2f2f2;
}

@media (max-width: 768px) {
    .heading {
        font-size: 100%;
    }
    .heading2{
        font-size: 200%;
    }
    .two-col{
        width: 100%;
        padding: 0;

    }
}

nav {
    position: absolute;
    right: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 5px;
    position: relative;
}

nav a{
    color: #F2F2F2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 1px 1px 1px #303030;
    font-size: 105%;
    position: sticky;
}

nav a:hover {
    color: #303030;
}

nav a:hover::before{
    width: 100%;
}